body {
  font-family: 'Major Mono Display', monospace;
}

#root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.hero {
  grid-area: hero;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.text2 {
  grid-area: text2;
}

.template {
  flex: 1;
  grid-template-areas:
    'hero hero hero .'
    'hero hero hero .'
    'text2 text2 text2 footer';
}
